NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=

CRON_SECRET=

TEAMWORK_USERNAME=
TEAMWORK_PASSWORD=
TEAMWORK_BASIC_USER=
TEAMWORK_BASIC_PASS=
TEAMWORK_API_KEY=
TEAMWORK_LOGIN_EMAIL=
TEAMWORK_LOGIN_PASSWORD=

QB_CLIENT_ID=
QB_CLIENT_SECRET=
QB_REDIRECT_URI=
QB_ENVIRONMENT=production
